#Sample dotenv file
#rename from sample.env to .env
#replace the values with real values for your database
# and generate your own secret keys from random GUIDs
#
# IMPORTANT!!  .env files should NOT go into your git repo!
#  REMEMBER to add .env to your .gitignore file.
MONGODB_HOST=cluster0.bbqz28s.mongodb.net
MONGODB_USER=rimuru
MONGODB_PASSWORD=0Ji6OXUvQC7t6oni
MONGODB_DATABASE=Cluster0
MONGODB_SESSION_SECRET=f22ec61a-8275-4696-a7b2-3a961b301d43
NODE_SESSION_SECRET=5f38883d-77c1-4862-9e62-c0e5b91ca8f3